@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>QR YAZILIM - Kullanıcı Girişi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="QR YAZILIM" />
    <link rel="icon" href="~/Assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Assets/bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Assets/icon/feather/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/font-awesome-n.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/css/pages.css">
</head>
<body themebg-pattern="theme6">
    <section class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row md-float-material form-material">
                        <div class="text-center">
                            <img src="~/Assets/images/logo.png" style="width:50%">
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">GİRİŞ YÖNTEMİ</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <a href="~/Panel/EgitmenGirisi" class="btn btn-primary btn-xl">Eğitmen Girişi</a>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <a href="~/Panel/VeliGirisi" class="btn btn-secondary btn-xl">Veli Girişi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="~/Assets/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/pace.min.js"></script>
    <script type="text/javascript" src="~/Assets/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Assets/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Assets/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/pages/waves/js/waves.min.js"></script>
    <script type="text/javascript" src="~/Assets/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/Assets/js/common-pages.js"></script>
</body>
</html>