.siyahVeKirmizi{
  background-color: black;
  /*color: #cc0000;*/
  color: #ab0000;
}
header {
  text-align: center;
  padding-bottom: 10px;
  /*border-radius: 15px 15px 0px 0px;*/
  border-radius: 15px 15px;
}
section{
  padding-top: 10px;
}
footer
{
  text-align: center;
  padding: 2%;
  border-radius: 15px;
  /*border-radius: 0px 0px 15px 15px;*/
}
.navbar{
  border-radius: 15px;
}
.c1{
  background-color: #808080;
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 25px;
}
a,a.active,a.visited{
  color: #ab0000;
}
.kirmiziYazi{
  color:#ab0000
}
h1{
  font-size:100px;
  color: #ab0000;
  text-align: center;
}
body{
  font: 15px Verdana, sans-serif;
  color: black;
  background-color: #bfbfbf;
}
h2,h3,h4,h5{
  text-align: center;
  color: #ab0000;
  font: bold 17px Verdana, sans-serif;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding-bottom: 5px; 
}