@{
	ViewBag.Title = "Anasayfa";
	Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

@{
	IcerikYonetimSistemi.IslemKatmani.SayfaIslemleri sayfaIslemleri = new IcerikYonetimSistemi.IslemKatmani.SayfaIslemleri();
	IcerikYonetimSistemi.IslemKatmani.FormIslemleri formIslemleri = new IcerikYonetimSistemi.IslemKatmani.FormIslemleri();
}

<div class="container-fluid">

	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="~/Yonetici/Anasayfa">Yönetim Paneli</a>
		</li>
		<li class="breadcrumb-item active">Anasayfa</li>
	</ol>

	<!-- Icon Cards-->
	<div class="row">
		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-white bg-primary o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-comments"></i>
					</div>
					<div class="mr-5">@formIslemleri.VeriSayisi() Gelen Form</div>
				</div>
				<a class="card-footer text-white clearfix small z-1" href="~/Yonetici/GelenFormlar">
					<span class="float-left">Hepsini Görüntüle</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
		<div class="col-xl-3 col-sm-6 mb-3">
			<div class="card text-white bg-warning o-hidden h-100">
				<div class="card-body">
					<div class="card-body-icon">
						<i class="fas fa-fw fa-list"></i>
					</div>
					<div class="mr-5">@sayfaIslemleri.VeriSayisi() Sayfa</div>
				</div>
				<a class="card-footer text-white clearfix small z-1" href="~/Yonetici/Sayfalar">
					<span class="float-left">Hepsini Görüntüle</span>
					<span class="float-right">
						<i class="fas fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>
