.wprt-contact-form-3 .wpcf7-form-control-wrap.menu select:hover,
.wprt-contact-form-3 .wpcf7-form-control-wrap.name input:hover,
.wprt-contact-form-3 .wpcf7-form-control-wrap.email input:hover,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus { border-color: #e41111; }
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #e41111;
}

#site-header .wprt-info .inner .header-social a:hover,
body.header-style-3 #site-header #main-nav > ul > li.current-menu-item,
body.header-style-3 #site-header #main-nav > ul > li:hover,
body.header-style-2 #site-header .site-navigation-wrap,
body.header-style-1 #top-bar,
.news-item .post-content-single-wrap .post-tag a:hover,
#comments .comment-reply a:hover,
#footer-widgets .widget.widget_tag_cloud .tagcloud a,
#footer-widgets .wpcf7-form .wpcf7-submit,
#footer-widgets .widget.widget_socials .socials a,
.pagination-page ul li .page.curent, 
.pagination-page ul li .page:hover,
#footer-action,
.row-action-1,
.wprt-button,
.wprt-button.white:hover,
.wprt-button.outline:hover,
.wprt-image-video .icon-wrap,
.wprt-content-box.style-1:hover,
.wprt-toggles.style-1 .toggle-item .toggle-heading > .inner:after,
.project-item .effect-default .text:before,
.wprt-tabs.style-3 ul li.active,
.project-item .zoom-popup,
.wprt-testimonials.style-3 .text:hover,
.wprt-team.style-2 .thumb:after,
.wprt-team.style-3 .thumb:after,
.wprt-team.style-4 .thumb:after,
.wprt-team.single .socials li a:hover,
.wprt-price:hover .price-head,
.wprt-navbar.style-1 .menu > li.current-nav-item,
.wprt-timelines .item .date:before,
.wprt-timelines .item .date:after,
.wprt-project-single .socials li a:hover,
.noUi-horizontal .noUi-handle,
.noUi-handle:before,
.noUi-connect,
.block-text,
.shop-content .btn:hover,
.shop-content .shop-tabs > ul > li.active,
.shop-content .products .product-thumbnail .sale-off,
.owl-theme .owl-nav [class*="owl-"],
#scroll-top:before,
.switcher-container,
.arrow-style-2 .owl-theme .owl-nav [class*="owl-"]:hover { background-color: #e41111; }

body.header-style-2 #main-nav ul ul,
body.header-style-1 #main-nav ul ul,
body.header-style-3 #main-nav ul ul,
.wprt-price:hover .price-head:after { border-top-color: #e41111; }
.shop-content #order-step li.step.active:after, 
.shop-content #order-step li.step.active:before { border-left-color: #e41111; }

#comments .comment-reply a,
.wprt-content-box.style-1,
.wprt-team.style-2 .team-item:hover .text-wrap,
.wprt-price:hover .price-content,
.wprt-button { border-color: #e41111; }

.wprt-button.outline,
.shop-content .shop_table.cart thead th.product-remove .item-remove:hover,
.shop-content .shop_table.cart .product-remove .item-remove:hover,
.wprt-button.light:hover { color: #e41111; border-color: #e41111; }

#sidebar .widget.widget_tag_cloud .tagcloud a:hover,
#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover,
.shop-content .products .product-thumbnail .quick-view:hover,
.bullet-style-2 .owl-theme .owl-dots .owl-dot.active span,
.custom-3.tparrows.tp-leftarrow:before,
.custom-3.tparrows.tp-rightarrow:before,
.wprt-button.light,
.wprt-button.very-light:hover,
.shop-content #order-step li.step.active .wrap-step,
.custom-3.tparrows.tp-leftarrow:before,
.custom-3.tparrows.tp-rightarrow:before { border-color: #e41111; background-color: #e41111; }

body.header-style-1 #site-header #main-nav > ul > li > a { color: #ab1d1d; }
body.header-style-2 #site-header #main-nav > ul > li:hover > a { color: #fff; }

#site-header .wprt-info .info-i span,
#main-nav ul li a:hover,
#main-nav > ul > li.current-menu-item > a,
#main-nav ul ul li a:hover,
body.header-style-1 #site-header #main-nav > ul > li a:hover,
body.header-style-1 #site-header #main-nav > ul > li.current-menu-item > a,
body.header-style-1 #site-header #main-nav > ul > li:hover > a,
body.header-style-1 #main-nav-mobi ul > li > a:hover,
#site-header .header-search-icon:hover,
body.header-style-1 .nav-top-cart-wrapper .nav-shop-cart ul li a,
.nav-top-cart-wrapper .nav-shop-cart ul li .mini-cart-content > p,
.nav-top-cart-wrapper .nav-shop-cart .total,
#featured-title .breadcrumb-trail .trail-end,
#featured-title .breadcrumb-trail .trail-begin:hover,
.news-item .post-title a:hover,
.news-item .post-meta .meta.author a,
.news-item .post-read-more a,
.news-item .post-meta .meta.author a,
.news-item .post-content-single-wrap .post-meta .meta.category a,
.news-item .post-content-single-wrap .post-meta .meta.author a:hover,
.news-item .post-content-single-wrap .post-content ul li:before,
.news-item .post-content-single-wrap .post-author .author-name a:hover,
.news-item .post-content-single-wrap .post-author .author-position,
.news-item .post-content-single-wrap .post-share-icon a:hover,
#comments .time-date,
.widget.widget_categories ul li a:hover,
.widget.widget_categories ul li:before,
#sidebar .widget.widget_recent_news h3 a:hover,
#footer-widgets .widget.widget_recent_news h3 a:hover,
#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover,
#footer .widget.widget_text .text-2 a:hover,
.wprt-button.white,
.wprt-button.light:hover,
.wprt-team.style-3 .wprt-link a,
.wprt-team.style-4 .wprt-link a,
.wprt-image-video .icon-wrap:hover:after,
.wprt-icon-box .icon-wrap,
.wprt-icon-box.icon-left.img .heading a:hover,
.wprt-content-box.style-2 .wrap-text p a:hover,
.wprt-image-box .item .title a:hover,
.wprt-toggles .toggle-item .toggle-heading:hover ,
.wprt-counter .number-wrap,
.wprt-counter .prefix,
.wprt-counter .suffix, 
.wprt-counter .number,
#project-filter .cbp-filter-item:hover,
#project-filter .cbp-filter-item.cbp-filter-item-active span,
#project-filter .cbp-filter-item.cbp-filter-item-active span:hover,
.project-item.style-2 .text h2 a:hover,
.project-item.style-2 .text a:hover,
.wprt-testimonials .name,
.wprt-testimonials .arrow-3,
.wprt-testimonials.style-3 .position,
.wprt-team.style-2 .position,
.wprt-team.style-2 .socials li a:hover,
.wprt-team.style-3 .name a:hover,
.wprt-team.style-4 .name a:hover,
.wprt-team.single .socials li.share a:hover,
.wprt-team.single .list-info a,
.wprt-team.single .list-info span,
.wprt-team.single .project-complete li h4 a:hover,
.wprt-navbar.style-1 .menu > li:hover,
.wprt-navbar.style-1 .menu > li:hover a,
.wprt-table tbody th a:hover, 
.wprt-table tbody td a:hover,
.wprt-project-single .cat:hover,
.wprt-project-single .socials li.share a:hover,
.price_label span,
.shop-content .product-info ins, 
.shop-content .products .product-info ins,
.shop-content .wrap-content .product-desc ul > li > i,
.shop-content .wrap-content .product-meta-desc > span a,
.widget_products-lated ul li ins,
.shop-content .wrap-cart-total ul .cart-subtotal > span,
.shop-content .shop_table.cart .cart_item td a:hover,
.shop-content .shop_table.cart .cart_item .price,
.shop-content .default-links li > span a,
.shop-content .shop-checkout-review-order .order-table .cart-item .product-total,
.shop-content .comp-wrap > div a,
.owl-theme .owl-nav [class*="owl-"]:hover,
.switcher-container h2 i,
a:hover,
.text-accent-color,
#top-bar .top-bar-socials #nav-language ul ul li:hover a,
body.header-style-1 #top-bar .top-bar-socials #nav-language ul ul > li:hover > a,
#site-header .wprt-info .info-i span, 
#site-header .wprt-info .inner .header-social a,
body.header-style-1 #site-header .header-search-icon:hover,
body.header-style-1 .nav-cart-trigger:hover,
body.header-style-3 .nav-cart-trigger:hover,
body.header-style-3 #site-header .header-search-icon:hover,
.custom-3.tparrows.tp-leftarrow:hover:before,
.custom-3.tparrows.tp-rightarrow:hover:before,
.nav-top-cart-wrapper .nav-shop-cart ul li a:hover,
.shop-content .wrap-content .product-meta-share ul li a:hover { color: #e41111 }
