@model  List<QRWebCMS.Web.Models.GaleriKategori>
@{
    ViewBag.Title = "Galeriler";
}

<section class="page-header page-header-modern bg-color-dark page-header-md">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                <h1 class=""><strong>Fotoğraf Galerisi</strong></h1>
            </div>
            <div class="col-md-4 order-1 order-md-2 align-self-center">
                <ul class="breadcrumb d-block text-md-right breadcrumb-light">
                    <li><a href="~/Ev/Anasayfa">Anasayfa</a></li>
                    <li class="active">Fotoğraf Galerisi</li>
                </ul>
            </div>
        </div>
    </div>
</section>


